* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    height: 1000px;
    border: 1px solid blue;
    margin: 0 auto;
}

#header {
    background-color: black;
    padding-bottom: 15px;
}

.list {
    display: flex;
    justify-content: space-around;
}

.list li {
    list-style-type: none;
    margin-top: 10px;
}

#header a {
    text-decoration: none;
    color: gold;
    padding: 15px;
}

#header a:hover {
    background-color: gold;
    color: black;
}