* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    margin: 50px auto;
    background-color: aqua;
}

#header {
    background-color: rgb(105, 201, 234);
    padding-bottom: 11px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    list-style-type: none;
    margin-top: 10px;
}

#header a {
    text-decoration: none;
    color: #003147;
    padding: 10px 10px 12px;
}

#header a:hover {
    background-color: #003147;
    color: rgb(105, 201, 234);
}

#menu {
    display: flex;
    justify-content: center;
}

#leftside {
    width: 330px;
    height: 1000px;
    background-color: #003147;
}

.photo {
    padding-top: 15px;
    text-align: center;
    color: white;
}

.photo img {
    border-radius: 50%;
}

#contacts {
    color: white;
    font-size: 20px;
}

#contacts h2 {
    padding-top: 20px;
    text-align: center;
}

#contacts li {
    list-style-type: none;
    padding: 10px 0 0 20px;
}
